body{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-size: 55px;
}
h3{
    font-size: 40px;
}
.orange-heilight{
    color: orange;
}
.blue-heilight{
    color: rgb(38, 38, 66);
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-area{
    overflow: hidden;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    font-size: small;
}
p{
    color: dimgray;
    margin: 0em;
    font-size: 15px;
}
.gap{
    margin-bottom: 30px;
}
.half-width img{
    width: 80%;
}
.second-area{
    overflow: hidden;
}
.third-area{
    overflow: hidden;
    background-color: rgb(235, 231, 231);
}
#latest{
    text-align: center;
    margin-top: 110px;
    margin-bottom: 90px;
}
.gym-site{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 70%;
    width: 20%;
    background-color: white;
    margin-left: 13%;
    margin-bottom: 90px;
}
.img-size{
    margin-top: 10px;
    width: 100%;
    height: 60%;
}
#bottom-gap{
    margin-bottom: 1em;
}
#music{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 70%;
    width: 20%;
    background-color: white;
    margin-bottom: 90px;
}
#agency{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 70%;
    width: 20%;
    background-color: white;
    margin-bottom: 90px;
}
.forth-area{
    overflow: hidden;
    background-image: url("shapes/Group_33094_1.png");
    background-size: 50% 25%;
    background-position: center;
    background-repeat: no-repeat;
}
#inquiry{
    position: absolute;
    left: 32%;
    top: 294%;
    font-weight: 700;
    color: white;
    font-size: 40px;
}
#chat{
    position: absolute;
    right: 32%;
    top: 300%;
}
.bonus-area{
    overflow: hidden;
    background-image: url("images/dark.jpg");
    background-repeat: no-repeat;
    background-size: 100% 95%;
}
#bonus1{
    position: absolute;
    left: 32%;
    top: 360%;
    font-weight: 700;
    color: white;
    font-size: 40px;
}
#trailer{
    position: absolute;
    left: 47%;
    top: 385%;
}